/* * {} Targets all elements on the page */
/* h1, h2, h3 {} Targets the <h1>, <h2> and <h3> elements */
/* .note {} Targets any element whose class attribute has a value of note p.note {} Targets only <p> elements whose class attribute has a value of note */
/* #introduction {} Targets the element whose id attribute has a value of introduction */
/* li>a {} Targets any <a> elements that are children of an <li> element (but not other <a> elements in the page) */
/* p a {} Targets any <a> elements that sit inside a <p> element, even if there are other elements nested between them */
/* h1+p {} Targets the first <p> element after any <h1> element (but not other <p> elements) */
/* h1~p {} If you had two <p> elements that are siblings of an <h1> element, this rule would apply to both */

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 12px;
} /* Track */ /*::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #C0C0C0; border-radius: 10px;}/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* Extra css for all */
hr {
  background-color: darksalmon;
  height: 3px;
  border-radius: 50px;
  border: 0px;
}

.potatoesos {
  font-family: Arial, Helvetica, sans-serif;
  color: #665544;
  padding: 10px;
}

.potatoesis {
  border: 1px solid #665544;
  background-color: #efefef; /* you can use rgba instead of rgb here also as in this 'a' or 'alpha' is opacity(it is used to increase the transparancy) and remember the opacity can only varies between 0.1 to 1.0 as 0.1 = 10% and 1.0 = 100% */
  padding: inherit;
}

/* For colors - you can use HSL(hue, saturation, lightness) values also for specifying color */

/* For 'pH scale using hex code, color name, rbg or rbga, hsl or hsla' h2 element in boom.html */
.div1 {
  background-color: silver;
  color: white;
  padding: 20px;
  font-family: cursive;
}
.h31 {
  background-color: #ffffff;
  background-color: hsla(0, 100%, 100%, 0.5);
  color: #64645a;
  padding: inherit;
}
.p1 {
  padding: 5px;
  margin: 0px;
}
.zero {
  background-color: rgb(238, 62, 128);
}
.one {
  background-color: rgb(244, 90, 139);
}
.two {
  background-color: rgb(243, 106, 152);
}
.three {
  background-color: rgb(244, 123, 166);
}
.four {
  background-color: rgb(245, 140, 178);
}
.five {
  background-color: rgb(246, 159, 192);
}
.six {
  background-color: rgb(245, 176, 204);
}
.seven {
  background-color: rgb(0, 187, 136);
}
.eight {
  background-color: rgb(140, 202, 242);
}
.nine {
  background-color: rgb(114, 193, 240);
}
.ten {
  background-color: rgb(84, 182, 237);
}
.eleven {
  background-color: rgb(48, 170, 233);
}
.twelve {
  background-color: rgb(0, 160, 230);
}
.thirteen {
  background-color: rgb(0, 149, 226);
}
.fourteen {
  background-color: rgb(0, 136, 221);
}

@font-face {
  font-family: ChunkFiveRegular;
  src: url("fonts/chunckfive.eot");
}
.this {
  font-family: ChunkFiveRegular, Georgia, serif;
}

/* Text Alignment (Vertically) */
#text-top {
  vertical-align: text-top;
}
#top {
  vertical-align: top;
}
#baseline {
  vertical-align: baseline;
}
#middle {
  vertical-align: middle;
}
#text-bottom {
  vertical-align: text-bottom;
}
#bottom {
  vertical-align: bottom;
}
#sub {
  vertical-align: sub;
}
#super {
  vertical-align: super;
}

/* Text Indent */
#one-text-indent {
  text-indent: -9999px;
}
#two-text-indent {
  text-indent: 20px;
}

/* Drop Shadow */
p#one {
  background-color: #eeeeee;
  color: #666666;
  text-shadow: 1px 1px 0px #000000;
  padding: 5px;
}
p#two {
  background-color: #dddddd;
  color: #666666;
  text-shadow: 1px 1px 3px #666666;
  padding: 5px;
}
p#three {
  background-color: #cccccc;
  color: #ffffff;
  text-shadow: 2px 2px 7px #111111;
  padding: 5px;
}
p#four {
  background-color: #bbbbbb;
  color: #cccccc;
  text-shadow: -1px -2px #666666;
  padding: 5px;
}
p#five {
  background-color: #aaaaaa;
  color: #ffffff;
  text-shadow: -1px -1px #666666;
  padding: 5px;
}

/* First letter or line */
p#hundred::first-letter {
  font-size: 200%;
}
p#onehundred::first-line {
  font-weight: bold;
}

/* Styling Links */
a.hundred:link {
  text-decoration: none;
  color: deeppink;
}
a.onehundred:visited {
  color: black;
}
a.twohundred:hover {
  color: rgb(6, 255, 68);
  text-decoration: underline;
}
a.threehundred:active {
  color: darkcyan;
}

/* This input contains features including :hover, :active, :focus :- */
.input1 {
  padding: 6px 12px 6px 12px;
  border: 2px solid #665544;
  color: #000000;
  border-radius: 10px;
  text-decoration: none;
}
input.submit:hover {
  background-color: #665544;
  color: #ffffff;
}
input.submit1:active {
  background-color: chocolate;
  color: #000000;
}
input.text1 {
  color: #cccccc;
}
input.text2:focus {
  color: #665544;
}

/* Example of text chapter */
div.contain {
  padding: 20px;
}
h1.contain {
  font-weight: normal;
  color: #0088dd;
  margin: 0px;
}
h2.contain {
  font-weight: normal;
  color: #0088dd;
  margin: 0px;
}
h3.contain {
  font-weight: normal;
  color: #0088dd;
  margin: 0px;
}
a.contain {
  font-weight: normal;
  color: #0088dd;
  margin: 0px;
}
h1.contain {
  font-family: Georgia, Times, serif;
  font-size: 250%;
  text-shadow: 2px 2px 3px #666666;
  padding-bottom: 10px;
}
h2.contain {
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
h3.contain {
  font-size: 150%;
}
p.contain {
  font-family: Arial, Verdana, sans-serif;
  line-height: 1.4em;
  color: #665544;
}
p.intro:first-line {
  font-weight: bold;
}
.credits {
  font-style: italic;
  text-align: right;
}
a.contain {
  text-decoration: none;
}
a.contain:hover {
  text-decoration: underline;
}

/* Box Dimensions */
div.box {
  height: 300px;
  width: 300px;
  background-color: darkorchid;
}
p.box {
  height: 75%;
  width: 75%;
  background-color: #0088dd;
  text-align: center;
  margin-left: 37px;
  vertical-align: middle;
}

/* Limiting Width */
td.description {
  min-width: 450px;
  max-width: 650px;
  text-align: left;
  padding: 5px;
  margin: 0px;
}

/* Limiting Height */
h3#contain {
  color: #0088dd;
  border-bottom: 1px solid #0088dd;
  width: 400px;
  font-size: 90%;
  line-height: 1.2em;
}
p#contain {
  min-height: 10px;
  max-height: 30px;
  width: 400px;
  font-size: 90%;
  line-height: 1.2em;
}

/* Overflowing Content */
.twentyone {
  overflow: hidden;
}
.twentytwo {
  width: 30%;
  height: 100px;
  overflow: scroll;
  border: 2px solid #ccc;
  padding: 15px;
}

/* White Space And Vertical Margins */
.space {
  border: 2px solid darkorange;
}
.space1 {
  padding: 10px;
  margin: 10pt;
  margin-right: 80%;
}

/* Border Width */
/* When using any attribute of border like border-width and etc. you have to specify a style like solid, dashed etc. in the border or border-style attribute */
p.thirtyone {
  border: solid black;
  border-width: 2px;
}
p.thirtytwo {
  border: solid black;
  border-width: thick;
}
p.thirtythree {
  border: solid;
  border-width: 1px 4px 12px 4px;
}

/* Border Style */
p.thirtyfour {
  border-style: solid;
}
p.thirtyfive {
  border-style: dotted;
}
p.thirtysix {
  border-style: dashed;
}
p.thirtyseven {
  border-style: double;
}
p.thirtyeight {
  border-style: groove;
}
p.thirtynine {
  border-style: ridge;
}
p.forty {
  border-style: inset;
}
p.fortyone {
  border-style: outset;
}

/* Border Color */
p.fortytwo {
  border-style: solid;
  border-color: black;
}
p.fortythree {
  border-style: solid;
  border-color: #00ff00 #ffff00 #ff7f00 #ff0000;
}
p.fortyfour {
  border-style: solid;
  border-top-color: coral;
  border-bottom-color: coral;
  border-left-color: chartreuse;
  border-right-color: chartreuse;
}

/* Padding */
p.fortyfive {
  border: solid;
}
p.fortysix {
  border: solid;
  padding: 5px;
}
p.fortyseven {
  border: solid;
  padding: 20px 35px 30px 40px;
}

/* Margin */
p.fortyeight {
  border: solid;
  padding: 3px;
}
p.fortynine {
  border: solid;
  padding: 3px;
  margin: 30px;
}
p.fifty {
  border: solid;
  padding: 3px;
  margin: 30px 20px 10px 50px;
}

/* Centering Content */
p.fiftyone {
  border: solid;
  padding: 3px;
  width: 300px;
  text-align: center;
}
p.fiftytwo {
  border: solid;
  padding: 3px;
  text-align: center;
  width: 300px;
  margin: 10px auto 10px auto;
}

/* Change Inline Block */
li.twentyone {
  display: inline;
  margin-right: 10px;
}
li.twentytwo {
  display: none;
}

/* Hinding Boxes */
li.twentythree {
  display: inline;
  margin-right: 10px;
}
li.comingsoon {
  visibility: hidden;
}

/* Box Shadows */
p.fiftythree {
  -moz-box-shadow: -5px -5px #777777;
  -webkit-box-shadow: -5px -5px #777777;
  box-shadow: -5px -5px #777777;
}
p.fiftyfour {
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
}
p.fiftyfive {
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px 5px #777777;
}
p.fiftysix {
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
}
p.fiftyseven {
  -moz-box-shadow: inset 0 0 10px #777777;
  -webkit-box-shadow: inset 0 0 10px #777777;
  box-shadow: inset 0 0 10px #777777;
}

/* Rounded Corners */
p.fiftyeight {
  border: 5px solid #cccccc;
  padding: 20px;
  width: 275px;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
} /* browsers like chrome and safari does not support border-radius attribute so you can use attributes like -moz-border-radius and -webkit-border-radius. But you have to right border-radius attribute for compatibility so that if any browser support it can use it. */

/* Elliptical Shapes */
p.fiftynine {
  border: 5px solid #cccccc;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  border-top-left-radius: 80px 50px;
  -moz-border-radius-top-left: 80px 50px;
  -webkit-border-radius-top-left: 80px 50px;
}
p.sixty {
  border: 5px solid #cccccc;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 4em 2em 4em;
} /* Four Horizontal values / Vertical Values */
p.sixtyone {
  border: 5px solid #cccccc;
  padding: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

/* Example of chapter boxes */
#div2 {
  font-size: 80%;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.15em;
  background-color: #ffffff;
}
#page {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000;
  background-color: #ffffff;
}
#logo {
  width: 150px;
  margin: 10px auto 25px auto;
}
ul.ul {
  width: 570px;
  padding: 15px;
  margin: 0px auto 0px auto;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
}
li.li {
  display: inline;
  margin: 0px 3px;
}
p#p2 {
  text-align: center;
  width: 600px;
  margin: 20px auto 20px auto;
  font-weight: normal;
}
a.a1 {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 18px 5px 18px;
}
a.a1:hover,
a#on {
  color: #cc3333;
  background-color: #ffffff;
}

/* Positioning the marker */
.ul1 {
  width: 150px;
}
.li1 {
  margin: 10px;
}
ul.illuminations {
  list-style-position: inside;
}
ul.season {
  list-style-position: outside;
}

/* Table Properties */
.div2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
  user-select: none;
}
.table {
  width: 600px;
}
.td {
  padding: 7px 10px 10px 10px;
}
.th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 20px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}
tr.even {
  background-color: #efefef;
}
tr.tr:hover {
  background-color: #c3e6e5;
}
.money {
  text-align: right;
}

/* Border On Empty Cells */
td.td2 {
  border: 1px solid #ffffff;
  padding: 15px;
  color: #ffffff;
}
table.one {
  empty-cells: show;
  background-color: indigo;
}
table.two {
  empty-cells: hide;
  background-color: indigo;
}

/* Gaps Between Cells */
table#cells {
  border-spacing: 5px 15px;
}
td#cells {
  background-color: #0088dd;
  padding: 15px;
  border: 2px solid #000000;
}

/* Styling Text Inputs */
.input {
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 10px;
}
.input:focus {
  background-color: #ffffff;
  border: 1px solid #b1e1e4;
  outline: none;
}
.input2 {
  background-image: url();
}
.input3 {
  background-image: url();
}
.input4 {
  background-image: url();
}

/* Styling Submit Buttons */
input.submit2 {
  color: #444444;
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 2px solid #b2b2b2;
  background-color: #b9e4e3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#beeae9),
    to(#a8cfce)
  );
  background: -moz-linear-gradient(top, #beeae9, #a8cfce);
  background: -o-linear-gradient(top, #beeae9, #a8cfce);
  background: -ms-linear-gradient(top, #beeae9, #a8cfce);
}
input.submit2:hover {
  color: #333333;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a8cfce),
    to(#beeae9)
  );
  background: -moz-linear-gradient(top, #a8cfce, #beeae9);
  background: -o-linear-gradient(top, #a8cfce, #beeae9);
  background: -ms-linear-gradient(top, #a8cfce, #beeae9);
}
input.submit2:focus {
  outline: none;
}

/* Styling Fieldsets And Legends */
.fieldset {
  width: 350px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: right;
}
.legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}
input.input5 {
  outline: none;
  border: none;
  border-bottom: 1px solid #dbd6d6;
}
input.input6 {
  background-color: aqua;
  border-radius: 20px;
}

/* Cursor Styling */
a.a2 {
  cursor: move;
}

/* Example of list, tables and forms */
.div3 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 90%;
  color: #666;
  background-color: #f8f8f8;
}
li.li2 {
  list-style-image: url("images/icon-plus.png");
  line-height: 1.6em;
}
table.table1 {
  border-spacing: 0px;
}
.td1 {
  padding: 5px 30px 5px 10px;
  border-spacing: 0px;
  font-size: 90%;
  margin: 0px;
  text-align: left;
  background-color: #e0e9f0;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
  text-shadow: 1px 1px 1px #fff;
}
.td3 {
  padding: 5px 30px 5px 10px;
  border-spacing: 0px;
  font-size: 90%;
  margin: 0px;
  text-align: left;
  background-color: #78a3c4;
  border-top: 1px solid #f1f8fe;
  border-bottom: 1px solid #cbd2d8;
  border-right: 1px solid #cbd2d8;
  text-shadow: 1px 1px 1px #fff;
}
tr.head2 {
  color: #fff;
  background-color: #5c96cc;
  border-bottom: 2px solid #547ca0;
  border-right: 1px solid #749abe;
  border-top: 1px solid #90b4d6;
  text-align: center;
  text-shadow: -1px -1px 1px #666;
  letter-spacing: 0.15em;
}
tr.head2,
th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
tr.head2,
th:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
tr.head {
  color: #fff;
  background-color: #90b4d6;
  border-bottom: 2px solid #547ca0;
  border-right: 1px solid #749abe;
  border-top: 1px solid #90b4d6;
  text-align: center;
  text-shadow: -1px -1px 1px #666;
  letter-spacing: 0.15em;
}
tr.even {
  background-color: #e8eff5;
}
tr.head,
th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}
tr.head,
th:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}
.fieldset1 {
  width: 310px;
  margin-top: 20px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  line-height: 1.6em;
}
.legend1 {
  font-style: italic;
  color: #666666;
}
input.input5 {
  width: 120px;
  border: 1px solid #d6d6d6;
  padding: 2px;
  outline: none;
}
input.input5:focus,
input.input5:hover {
  background-color: #d0e2f0;
  border: 1px solid #999;
}
input.input6 {
  border: 1px solid #006633;
  background-color: #009966;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
input.input6:hover {
  border: 1px solid #006633;
  background-color: #00cc33;
  color: #ffffff;
  cursor: pointer;
}
.title {
  float: left;
  width: 160px;
  clear: left;
}
.submit {
  width: 310px;
  text-align: right;
}

/* Normal Flow */
.div4 {
  width: 750px;
  font-family: Arial, Helvetica, sans-serif;
  color: #665544;
}
.h2 {
  background-color: #efefef;
  padding: 10px;
}
.p {
  width: 450px;
}

/* Relative Positioning */
p.example {
  position: relative;
  top: 10px;
  left: 100px;
}
p.example1 {
  position: relative;
  top: 10px;
  right: 100px;
}

/* Absolute Positioning */
.h3 {
  position: absolute;
  top: 0px;
  left: 500px;
  width: 250px;
}
.p2 {
  width: 450px;
}

/* Fixed Positioning */
.h32 {
  /*position: fixed;*/
  top: 0px;
  left: 50px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-color: #efefef;
}
p.example3 {
  margin-top: 100px;
}

/* Floating Elements */
blockquote.blockquote {
  float: right;
  width: 275px;
  font-size: 130%;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  border-top: 1px solid #665544;
  border-bottom: 1px solid #665544;
}

/* Using Float To place elements side-by-side */
div.div5 {
  width: 750px;
  font-family: Arial, Helvetica, sans-serif;
  color: #665544;
}
p.p3 {
  width: 230px;
  float: left;
  margin: 5px;
  padding: 5px;
  background-color: #efefef;
}

/* Clearing Floats */
p.p4 {
  width: 230px;
  float: left;
  margin: 5px;
  padding: 5px;
  background-color: #efefef;
}
p.clear {
  clear: left;
}
div.div6 {
  width: 750px;
  font-family: Arial, Helvetica, sans-serif;
  color: #665544;
}

/* Parents of floated elements: Problem */
div.div7 {
  border: 1px solid #665544;
}
/* Parents of floated elements: Solution
div.div7{border: 1px solid #665544; overflow: auto; width: 100%;} */

/* Creating Multi Column Layouts with float */
div.column1of2 {
  float: left;
  width: 620px;
  margin: 10px;
}
div.column2of2 {
  float: left;
  width: 300px;
  margin: 10px;
}

/* A Fixed Width Layout */
div.div8 {
  width: 960px;
  margin: 0 auto;
}
#content {
  overflow: auto;
}
#nav,
#feature,
#footer {
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
}
.column1,
.column2,
.column3 {
  background-color: #efefef;
  width: 280px;
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
}
.li3 {
  display: inline;
  padding: 5px;
}
#header {
  text-align: center;
}

/* Example of Layout */
@font-face {
  font-family: "QuicksandBook";
  src: url("fonts/Quicksand_Book-webfont.eot");
  src: url("fonts/Quicksand_Book-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/Quicksand_Book-webfont.woff") format("woff"),
    url("fonts/Quicksand_Book-webfont.ttf") format("truetype"),
    url("fonts/Quicksand_Book-webfont.svg#QuicksandBook") format("svg");
  font-weight: normal;
  font-style: normal;
}
.div9 {
  color: #ffffff;
  background: #413f3b url("images/bg.jpg");
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 90%;
  margin: 0px; /* text-align: center;*/
  min-width: 960px;
}
a.a3 {
  color: #b5c1ad;
  text-decoration: none;
}
a.a3:hover {
  color: #ffffff;
}
.header {
  background-image: url("../static/img/bg-header.jpg");
  padding: 0px 0px 0px 0px;
  height: 100px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
}
.nav {
  float: right;
  font-family: QuicksandBook, Helvetica, Arial, sans-serif;
  padding: 45px 0px 0px 0px;
  text-align: right;
}
.wrapper {
  width: 960px;
  margin: 0px auto;
  background-image: url("../static/img/bg-triangle.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-align: left;
}
.logo {
  margin-bottom: 20px;
}
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11 {
  position: relative;
}
.alpha {
  margin-left: 0px;
}
.omega {
  margin-right: 0px;
}
.container_12 .grid_1 {
  width: 60px;
}
.container_12 .grid_2 {
  width: 140px;
}
.container_12 .grid_3 {
  width: 220px;
}
.container_12 .grid_4 {
  width: 300px;
}
.container_12 .grid_5 {
  width: 380px;
}
.container_12 .grid_6 {
  width: 460px;
}
.container_12 .grid_7 {
  width: 540px;
}
.container_12 .grid_8 {
  width: 620px;
}
.container_12 .grid_9 {
  width: 700px;
}
.container_12 .grid_10 {
  width: 780px;
}
.container_12 .grid_11 {
  width: 860px;
}
.container_12 .grid_12 {
  width: 940px;
}
.container_12 .prefix_1 {
  padding-left: 80px;
}
.container_12 .prefix_2 {
  padding-left: 160px;
}
.container_12 .prefix_3 {
  padding-left: 240px;
}
.container_12 .prefix_4 {
  padding-left: 320px;
}
.container_12 .prefix_5 {
  padding-left: 400px;
}
.container_12 .prefix_6 {
  padding-left: 480px;
}
.container_12 .prefix_7 {
  padding-left: 560px;
}
.container_12 .prefix_8 {
  padding-left: 640px;
}
.container_12 .prefix_9 {
  padding-left: 720px;
}
.container_12 .prefix_10 {
  padding-left: 800px;
}
.container_12 .prefix_11 {
  padding-left: 880px;
}
.container_12 .suffix_1 {
  padding-right: 80px;
}
.container_12 .suffix_2 {
  padding-right: 160px;
}
.container_12 .suffix_3 {
  padding-right: 240px;
}
.container_12 .suffix_4 {
  padding-right: 320px;
}
.container_12 .suffix_5 {
  padding-right: 400px;
}
.container_12 .suffix_6 {
  padding-right: 480px;
}
.container_12 .suffix_7 {
  padding-right: 560px;
}
.container_12 .suffix_8 {
  padding-right: 640px;
}
.container_12 .suffix_9 {
  padding-right: 720px;
}
.container_12 .suffix_10 {
  padding-right: 800px;
}
.container_12 .suffix_11 {
  padding-right: 880px;
}
.container_12 .push_1 {
  left: 80px;
}
.container_12 .push_2 {
  left: 160px;
}
.container_12 .push_3 {
  left: 240px;
}
.container_12 .push_4 {
  left: 320px;
}
.container_12 .push_5 {
  left: 400px;
}
.container_12 .push_6 {
  left: 480px;
}
.container_12 .push_7 {
  left: 560px;
}
.container_12 .push_8 {
  left: 640px;
}
.container_12 .push_9 {
  left: 720px;
}
.container_12 .push_10 {
  left: 800px;
}
.container_12 .push_11 {
  left: 880px;
}
.container_12 .pull_1 {
  left: -80px;
}
.container_12 .pull_2 {
  left: -160px;
}
.container_12 .pull_3 {
  left: -240px;
}
.container_12 .pull_4 {
  left: -320px;
}
.container_12 .pull_5 {
  left: -400px;
}
.container_12 .pull_6 {
  left: -480px;
}
.container_12 .pull_7 {
  left: -560px;
}
.container_12 .pull_8 {
  left: -640px;
}
.container_12 .pull_9 {
  left: -720px;
}
.container_12 .pull_10 {
  left: -800px;
}
.container_12 .pull_11 {
  left: -880px;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
h1.h1,
h2.h22 {
  font-family: QuicksandBook, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h1.h1 {
  font-size: 240%;
  margin-top: 140px;
}
.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  color: #b5c1ad;
}
.intro1 {
  clear: left;
  font-size: 90%;
  line-height: 1.4em;
}
.main-story {
  background-image: url("../static/img/pedal\ faster\ triangle.png");
  background-repeat: no-repeat;
  background-position: 122px 142px;
  height: 570px;
}
.more-articles {
  border-top: 1px solid #ffffff;
  padding: 10px;
}
.more-articles p {
  border-bottom: 1px solid #807c72;
  padding: 5px 0px 15px 0px;
  font-size: 80%;
}
.more-articles p:last-child {
  border-bottom: none;
}
.footer {
  clear: both;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}
.footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  text-align: right;
}
.footer a {
  color: #807c72;
}

/* Images */
/* Controlling Size Of Images in CSS */
img.large {
  width: 450px;
  height: 450px;
}
img.medium {
  height: 250px;
  width: 250px;
}
img.small {
  width: 100px;
  height: 100px;
}

/* Aligning images using css */
img.align-left {
  float: left;
  margin-right: 10px;
}
img.align-right {
  float: right;
  margin-left: 10px;
}
img.medium {
  width: 250px;
  height: 250px;
}
.xlmedium {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #665544;
}

/* Centering Images Using CSS */
img.align-center {
  display: block;
  margin: 0px auto;
}

/* Background Images */
div.xmwd {
  background-image: url(http://www.htmlandcssbook.com/code-samples/chapter-16/images/pattern.gif);
  color: white;
  padding: 20px;
}

/* Background Images (Element) */
p.xmwd {
  background-image: url(http://www.htmlandcssbook.com/code-samples/chapter-16/images/pattern.gif);
  color: white;
  padding: 20px;
}
.xmdw {
  font-size: 20px;
}

/* Repeating Images */
div.fjs2 {
  background-image: url(http://www.htmlandcssbook.com/code-samples/chapter-16/images/header.gif);
  background-repeat: repeat-x;
  padding: 20px;
}

/* Background Attachment */
div.bvdv {
  background-image: url(http://www.htmlandcssbook.com/code-samples/chapter-16/images/tulip.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Background Position */
div.bdcb {
  background-image: url(http://www.htmlandcssbook.com/code-samples/chapter-16/images/tulip.gif);
  background-repeat: no-repeat;
  background-position: center top;
}

/* Background Position Percentage */
div.ivnd {
  background-image: url(http://www.htmlandcssbook.com/code-samples/chapter-16/images/tulip.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Shorthand Background */
div.vbid {
  background: #ffffff
    url(http://www.htmlandcssbook.com/code-samples/chapter-16/images/tulip.gif);
  background-repeat: no-repeat;
  background-position: top right;
  text-align: justify;
}

/* Image Rollovers And Sprites */
a.button {
  height: 36px;
  background-image: url("http://htmlandcssbook.com/code-samples/chapter-16/images/button-sprite.jpg");
  text-indent: -9999px;
  display: inline-block;
}
a#add-to-basket {
  width: 174px;
  background-position: 0px 0px;
}
a#add-to-basket:hover {
  background-position: 0px -40px;
}
a#add-to-basket:active {
  background-position: 0px -80px;
}
a#framing-options {
  width: 210px;
  background-position: -175px 0px;
}
a#framing-options:hover {
  background-position: -175px -40px;
}
a#framing-options:active {
  background-position: -175px -80px;
}

/* Gradient */
#gradient {
  /* fallback color */
  background-color: #66cccc;
  /* fallback image */
  background-image: url(images/fallback-image.png);
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#336666, #66cccc);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#66cccc),
    to(#336666)
  );
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#336666, #66cccc);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#336666, #66cccc);
  height: 150px;
  width: 300px;
}

/* Example of Images */
div.iusdb {
  background-color: #d4d0c6;
  text-align: center;
  color: #665544; /*background-image: url(http://htmlandcssbook.com/code-samples/chapter-16/images/backdrop.gif);*/
  font-family: Georgia, "Times New Roman", Times, serif;
}
div.img {
  margin: 40px 0px 20px 0px;
}
#wrapper {
  width: 720px;
  margin: 0px auto;
}
.entry {
  margin: 10px;
  height: 198px;
  background-image: url(http://htmlandcssbook.com/code-samples/chapter-16/images/shadow.png);
  background-repeat: no-repeat;
  width: 220px;
  float: left;
  background-position: bottom;
}
figure.ondsb {
  display: block;
  width: 202px;
  height: 170px;
  background-color: #e7e3d8;
  margin: 0px;
  padding: 9px;
  text-align: left;
}
figcaption.dvni {
  background-image: url(http://htmlandcssbook.com/code-samples/chapter-16/images/icon.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-top: 5px;
}
img.csib {
  width: 200px;
  height: 150px;
  border: 1px solid #d6d6d6;
}
figure.ivhn {
  width: 200px;
  height: 150px;
  border: 1px solid #d6d6d6;
  height: auto;
}
